@model CarDetailsServiceModel

@{
    ViewBag.Title = "Details";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="card" style="width: 65rem; height:auto">
    <img class="card-img" src="@Model.ImageUrl" alt="@Model.Brand @Model.Model ">
    <div class="card-body">
        <h5 class="card-title">@Model.Brand @Model.Model</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Brand: @Model.Brand</li>
        <li class="list-group-item">Model: @Model.Model</li>
        <li class="list-group-item">Year: @Model.Year</li>
        <li class="list-group-item">Category: @Model.CategoryName</li>
        <li class="list-group-item">Price per day:</li>
        <li class="list-group-item">Price per hour: </li>
    </ul>
</div>